main {
    background-color: white;
}

.crumbs {
    margin: 0;
    background-color: var(--background-color);
    padding-bottom: 20px;
}


.about_heading {
    background-image: url('../images/woman-hiking.jpg');
    height: auto;
    width: 100%;
    background-size: cover;
}

.about_heading h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding-top: 40%;
    padding-bottom: 4%;
    color: var(--background-color);
    text-shadow: 0px 4px 7px var(--dark-green);
}

p {
    font-family: malaga, serif;
    font-weight: 200;
    padding: 15px 25px;
    margin: 0;
    color: var(--dark-green);
}

.top_paragraph {
    padding-top: 30px;
}

.about_images {
    max-height: auto;
    width: 100%;
    padding: 20px 25px;
}

@media (min-width: 720px) {
    main {
        margin: 0 20%;
    }
}

@media (min-width: 1020px) {
    main {
        margin: 0 26%;
    }

    .about_heading h1 {
        font-size: 60px;
    }
}

@media (min-width: 1400px) {
    main {
        margin: 0 32%;
    }
}

@media (min-width: 2000px) {
    main {
        margin: 0 36%;
    }

    footer {
        margin-top: 50px;
    }
}
