html {
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background-color: #FFF8EE;
    --light-green: #ACD591;
    --green: #6A8459;
    --yellow-green: #B3C12F;
    --dark-green: #335020;
    --yellow-orange: #D5AA56;
}

body {
    background-color: var(--background-color);
    max-width: 100%;
    margin: 0;
}

main {
    margin: 0 10%;
}

/*------------------------------------------------------------------------- Header Styles -------------------------------------------------------------------------*/

header {
    height: 10%;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

.logo {
    height: 150px;
    display: block;
    margin: 0 auto;
}


nav, .desktop_search {
    display: none;
}

.main_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: malaga, serif;
    font-weight: 700;
    font-style: normal;
}

.main_ul li {
    margin: 15px 30px 25px 30px;
}

.main_ul li a {
    text-decoration: none;
    color: #886625;
}

.main_ul li a:hover {
    color: #859300;
    transition: 0.3s;
}

.searchbar {
    position: relative;
    top: -5px;
    border: none;
    padding: 10px 10px 8px 10px;
    width: 120px;
    font-size: 17px;
    font-family: luminance, serif;
    background-color:#acd59183;
    color: var(--dark-green);
}

.fa-search {
    position: relative;
    top: -5px;
    padding: 10px;
    font-size: 17px;
    color: var(--dark-green);
    background-color: #acd59183;
    cursor: pointer;
}

.fa-search:hover {
    color: #acd59183;
    background-color: var(--dark-green);
    transition: 0.2s;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.fa-bars {
    color: #886625;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.main_ul .active {
    color: #859300;
    
}

/*------------------------------------------------------------------------- Main Styles -------------------------------------------------------------------------*/
.crumbs {
    font-family: malaga, serif;
    text-align: center;
    color: var(--dark-green);
    font-family: 16px;
    margin-bottom: 20px;
}

.crumbs a {
    text-decoration: none;
    color: #33502085;
}

.crumbs a:hover {
    color: #859300;
}


h1 {
    font-family: luminance, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: var(--dark-green);

}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--green);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.arrows {
    text-align: center;
    font-size: 42px;
    color: var(--dark-green);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.carousel_mobile {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
    position: sticky;
    cursor: pointer;
    font-size: 50px;
    margin: 20px;
}

.fa-long-arrow-alt-left:hover, .fa-long-arrow-alt-right:hover {
    color: #859300;
    transition: 0.2s;
}

.fa-long-arrow-alt-left {
    left: 33%;
}

.fa-long-arrow-alt-right {
    right: 33%;
}

.slider {
    height: 100%;
    display: flex;
    width: 300%;
    transition: all 0.6s;
}

.slider section {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    row-gap: 30px;
    font-size: 20px;
}

.arrows ul {
    position: absolute;
    left: 48%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 10px;

}

.arrows ul li {
    width: 16px;
    height: 16px;
    border: 1px solid var(--green);
    border-radius: 50px;
    margin: 10px;
    background-color: var(--green);
    cursor: pointer;
}

.arrows ul li.selected {
    background: var(--background-color);
}

.blog_post {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 450px;
    max-height: 300px;
    font-family: malaga, serif;
    background-color: white;
}

.blog_post:hover .blog_img {
    opacity: 0.7;
    transition: 0.5s;
}

.blog_img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.blog_info {
    padding: 7px 15px;
}

.blog_info h3 {
    margin: 0;
    color: var(--green);
    font-size: 22px;
}

.blog_info p {
    font-size: 15px;
    color: #8cb96e;
    font-weight: 600;
    margin: 0;
}

.blog_info h4 {
    margin: 0;
}

.blog_info h5 {
    display: none;
    color: #886625;
    float: right;
    font-size: 18px;
}

.blog_post:hover h5 {
    color: #859300;
    transition: 0.3s;
}

.blog_post_link {
    text-decoration: none;
}

.button {
    display: block;
    margin: 20px auto;
    font-family: Luminance, serif;
    font-size: 23px;
    padding: 10px 30px;
    border: none;
    background-color: #886625;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green);
}


/*------------------------------------------------------------------------- Footer -------------------------------------------------------------------------*/

footer {
    background-color: var(--green);
    width: 100%;
    height: 250px;
    margin-top: 70px;
    padding-top: 75px;
    text-align: center;
}

.social_icons {
    display: flex;
    justify-content: center;
}

footer .fab {
    font-size: 40px;
    color: var(--background-color);
    padding: 0 10px;
}

footer p {
    display: block;
    font-family: malaga, serif;
    color: var(--background-color);
}


/*------------------------------------------------------------------------- Laptop Styles -------------------------------------------------------------------------*/


@media (min-width: 520px) {

    .blog_info h5 {
        display: inline;
    }
    
}
@media (min-width: 1000px) {

    

    nav {
        display: block;
    }

    .desktop_search {
        display: block;
    }

    .searchbar {
        width: 140px;
    }


    .main_ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
    }


    .label-hamburger, .mobile_search {
        display: none;
    }

    h1 {
        margin-bottom: 20px;
    }

    .blog_info h3 {
        font-size: 19px;
    }

    .slider section {
        display: grid;
        flex-basis: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        
    }


    .blog_post {
        max-width: 450px;
        font-family: malaga, serif;
        background-color: white;
    }

    .fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
        position: absolute;
        top: 400px;
        cursor: pointer;
        font-size: 53px;
        margin: 20px;
    }
    
    .fa-long-arrow-alt-left {
        left: 2%;
    }
    
    .fa-long-arrow-alt-right {
        right: 2%;
    }

    .arrows ul {
        left: 49%;
        margin-top: 0;
    }
}

/*------------------------------------------------------------------------- Desktop Styles -------------------------------------------------------------------------*/

@media (min-width: 1400px) {

    .main_ul li {
        margin: 15px 50px 25px 50px;
    }

    .searchbar {
        width: 160px;
    }
}